<h1 class="welcome">Welcome to the Main Page</h1>
        <mat-card-title class="search-bar">Search By</mat-card-title>
        <form [formGroup]="optionFormGroup">
            <div class="radio-group">
                <mat-radio-group formControlName="search_option"
                    [ngClass]="{ 'is-invalid': submittedOption && optionGroup['search_option'].errors }">
                    <mat-radio-button class="radio-button" value="1">Title</mat-radio-button>
                    <mat-radio-button class="radio-button" value="2">Text</mat-radio-button>
                    <mat-radio-button class="radio-button" value="3">PDF Desc.</mat-radio-button>
                    <mat-radio-button class="radio-button" value="4">Comment Text</mat-radio-button>
                    <mat-radio-button class="radio-button" value="5">Karma</mat-radio-button>
                    <mat-radio-button class="radio-button" value="6">Comment number</mat-radio-button>
                    <mat-radio-button class="radio-button" value="7">Flair</mat-radio-button>
                    <mat-radio-button class="radio-button" value="8">Two Fields</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="submittedOption && optionGroup['search_option'].errors" class="invalid-feedback">
                    <div *ngIf="optionGroup['search_option'].errors['required']">Choose an option.</div>
                </div>
            </div>
        </form>

        <div *ngIf="isSearchingText() || isSearchingTwoTexts()">
            <mat-card-title class="search-bar">Search Type</mat-card-title>
            <form [formGroup]="searchTypeFormGroup">
                <div class="radio-group">
                    <mat-radio-group formControlName="search_type"
                        [ngClass]="{ 'is-invalid': submittedType && searchTypeGroup['search_type'].errors }">
                        <mat-radio-button class="radio-button" value="FUZZY">Fuzzy</mat-radio-button>
                        <mat-radio-button class="radio-button" value="PHRASE">Phrase</mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="submittedType && searchTypeGroup['search_type'].errors" class="invalid-feedback">
                        <div *ngIf="searchTypeGroup['search_type'].errors['required']">Choose an option.</div>
                    </div>
                </div>

            </form>
        </div>

        <form [formGroup]="searchInputFormGroup">

            <div class="mb-3 w-25">
                <input *ngIf="isSearchingText()" type="text" class="form-control" formControlName="search_input"
                    [ngClass]="{ 'is-invalid': submittedSearch && searchInputGroup['search_input'].errors }">
                    <div *ngIf="submittedSearch && searchInputGroup['search_input'].errors" class="invalid-feedback">
                        <div *ngIf="searchInputGroup['search_input'].errors['required']">Enter something.</div>
                    </div>
            </div>

        </form>

        <form [formGroup]="searchTwoInputsFormGroup">

            <div *ngIf="isSearchingTwoTexts()" class="radio-group">
                <mat-radio-group formControlName="selected_fields"
                    [ngClass]="{ 'is-invalid': submittedTwoSearches && searchTwoInputsGroup['selected_fields'].errors }">
                    <mat-radio-button class="radio-button" value="1">Title And Text</mat-radio-button>
                    <mat-radio-button class="radio-button" value="2">Title And PDF Description</mat-radio-button>
                    <mat-radio-button class="radio-button" value="3">Text And PDF Description</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="submittedTwoSearches && searchTwoInputsGroup['selected_fields'].errors" class="invalid-feedback">
                    <div *ngIf="searchTwoInputsGroup['selected_fields'].errors['required']">Choose an option.</div>
                </div>
            </div>

            <div *ngIf="isSearchingTwoTexts()" class="radio-group">
                <mat-radio-group formControlName="boolQueryType"
                    [ngClass]="{ 'is-invalid': submittedTwoSearches && searchTwoInputsGroup['boolQueryType'].errors }">
                    <mat-radio-button class="radio-button" value="OR">OR</mat-radio-button>
                    <mat-radio-button class="radio-button" value="AND">AND</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="submittedTwoSearches && searchTwoInputsGroup['boolQueryType'].errors" class="invalid-feedback">
                    <div *ngIf="searchTwoInputsGroup['boolQueryType'].errors['required']">Choose an option.</div>
                </div>
            </div>

            <div *ngIf="isSearchingTwoTexts()" class="mb-3 w-25">
                <input type="text" class="form-control" formControlName="first" placeholder="First Value"
                    [ngClass]="{ 'is-invalid': submittedTwoSearches && searchTwoInputsGroup['first'].errors }">
                    <div *ngIf="submittedTwoSearches && searchTwoInputsGroup['first'].errors" class="invalid-feedback">
                        <div *ngIf="searchTwoInputsGroup['first'].errors['required']">Enter something.</div>
                    </div>
            </div>

            <div *ngIf="isSearchingTwoTexts()" class="mb-3 w-25">
                <input type="text" class="form-control" formControlName="second" placeholder="Second Value"
                    [ngClass]="{ 'is-invalid': submittedTwoSearches && searchTwoInputsGroup['second'].errors }">
                    <div *ngIf="submittedTwoSearches && searchTwoInputsGroup['second'].errors" class="invalid-feedback">
                        <div *ngIf="searchTwoInputsGroup['second'].errors['required']">Enter something.</div>
                    </div>
            </div>
            
        </form>

        <form [formGroup]="searchNumbersFormGroup">

            <div class="mb-3" *ngIf="isSearchingNumbers()">
                <mat-card-title class="card-title">From</mat-card-title>
                <input type="number" class="form-control" formControlName="from"
                    [ngClass]="{ 'is-invalid': submittedSearch && searchNumbersGroup['from'].errors }">
                    <div *ngIf="submittedSearch && searchNumbersGroup['from'].errors" class="invalid-feedback">
                        <div *ngIf="searchNumbersGroup['from'].errors['min']">Cannot be lower than 0.</div>
                        <div *ngIf="searchNumbersGroup['from'].errors['max']">Cannot be higher than 1000.</div>
                    </div>
            </div>

            <div class="mb-3" *ngIf="isSearchingNumbers()">
                <mat-card-title class="card-title">To</mat-card-title>
                <input type="number" class="form-control" formControlName="to"
                    [ngClass]="{ 'is-invalid': submittedSearch && searchNumbersGroup['to'].errors }">
                    <div *ngIf="submittedSearch && searchNumbersGroup['to'].errors" class="invalid-feedback">
                        <div *ngIf="searchNumbersGroup['to'].errors['min']">Cannot be lower than 0.</div>
                        <div *ngIf="searchNumbersGroup['to'].errors['max']">Cannot be higher than 1000.</div>
                    </div>
            </div>

        </form>

        <form [formGroup]="searchFlairFormGroup">

            <div class="mb-3 w-25" *ngIf="isSearchingFlair()">
                <mat-select class="form-control" formControlName="flair" id="flair" 
                    [ngClass]="{ 'is-invalid':submittedSearch && searchFlairGroup['flair'].errors}">
                    <div *ngIf="submittedSearch && searchFlairGroup['flair'].errors" class="invalid-feedback"></div>
                    <mat-option *ngFor="let flair of flairs" [value]="flair.name">
                        {{flair.name}}
                    </mat-option>
                </mat-select>
            </div>

        </form>

        <div class="search-button-div">
            <button mat-button class="search-button" (click)="search()">
                <mat-icon>search</mat-icon>
                Search
            </button>
        </div>
        
<app-post-list [posts]="posts"></app-post-list>
<h1 class="nothing_found" *ngIf="no_results">Found no Results</h1>